:root{
--light-mint: #E2FFE9;
--mint-green: #C0E1C8;
--dark-pine: #0B2F14;
--light-green: #32A873;
--grape-blue: #6F86FF;
--red-error: #EE5454;
--dark-grey: #121212;
}

body {
    background-color: #121212;
    color: #E2FFE9;
    font-family: 'Teko', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    background-color: var(--light-green); /* Cambiar a verde */
    width: 100%; /* Asegurar que ocupe todo el ancho */
    padding: 10px 20px;
    
}

.navbar-collapse {
    background-color: #32A873; /* Fondo verde para el menú desplegable */
}

.logo {
    height: 70px;
}

.navbar-toggler {
    border-color: transparent;
}

.nav-link {
    font-size: 1.2rem;
    margin-left: 10px;
}
.nav-item {
    font-size: 24px;
}
.nav-item .btn-outline-light {
    border: 2px solid var(--light-mint); 
    color: var(--light-green);
    background-color: #E2FFE9;
    margin-bottom: 10px;
    font-size: 32px;
}

.nav-item .btn-light {
    border: 2px solid var(--light-mint); 
    color: #fff;
    align-items: center;
    font-size: 32px;
}

.nav-item .btn-light i {
    font-size: 1.5rem; 
    color: #32A873;
}

.login-container {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}
.login-container h2 {
    font-size: 64px;
    margin-bottom: 70px;
    font-family: 'Teko';
}
.login-container p {
    font-size: 24px;
}
.form-control {
    background-color: transparent;
    border: 2px solid var(--mint-green);
    color: #E2FFE9;
    font-size: 24px; /* Tamaño base para mobile */
    padding: 10px;
    margin-top: 35px;
}

.form-control::placeholder {
    color: #C0E1C8;
}

.form-control.is-invalid {
    border-color: #EE5454;
}

.invalid-feedback {
    color: #EE5454;
    font-size: 14px;
}

.btn-login {
    background-color: #32A873;
    color: #0B2F14;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    font-size: 28px; 
    margin-top: 25px;
}

.footer {
    background-color: #32A873;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.footer p {
    margin: 0;
    color: #0B2F14;
    font-size: 22px; 
}

.create-account {
    color: #32A873;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
}

/* Desktop Styles */
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 36px; 
    }
    .login-container {
        margin-inline: auto;
    }
    .login-container h2 {
        font-size: 64px;
    }
   
    .form-control {
        font-size: 24px; /* Aumenta el tamaño del input en desktop */
        padding: 15px;
    }
    .btn-login {
        font-size: 24px; /* Aumenta el tamaño del botón en desktop */
        padding: 15px;
        width: 400px;
    }
    .footer p {
        font-size: 24px; /* Aumenta el tamaño del texto en el footer para desktop */
    }
}

/* Cambia el color del texto del placeholder */
::placeholder {
    color: #C0E1C8;
    opacity: 1; /* Asegura que el color se aplique correctamente */
}

input.is-invalid::placeholder {
    color: #EE5454;
    opacity: 1;
}
