@import url(normalize.css);

:root {
    --light-mint: #E2FFE9;
    --mint-green: #C0E1C8;
    --dark-pine: #0B2F14;
    --light-green: #32A873;
    --grape-blue: #6F86FF;
    --red-error: #EE5454;
    --dark-grey: #121212;
    --bluelsh-pine: #064E2B;
}

a{
    color: inherit;
}
body {
    background-color: #121212;
    color: #E2FFE9;
    font-family: 'Teko', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    background-color: var(--light-green);
    /* Cambiar a verde */
    width: 100%;
    /* Asegurar que ocupe todo el ancho */
    padding: 10px 20px;

}

.navbar-collapse {
    background-color: #32A873;
    /* Fondo verde para el menú desplegable */
}

.logo {
    height: 70px;
}

.navbar-toggler {
    border-color: transparent;
}

.nav-link {
    font-size: 1.2rem;
    margin-left: 10px;
}

.nav-item {
    font-size: 24px;
}

.nav-item .btn-outline-light {
    border: 2px solid var(--light-mint);
    color: var(--light-green);
    background-color: #E2FFE9;
    margin-bottom: 10px;
    font-size: 32px;
}

.nav-item .btn-light {
    border: 2px solid var(--light-mint);
    color: #fff;
    align-items: center;
    font-size: 32px;
}

.nav-item .btn-light i {
    font-size: 1.5rem;
    color: #32A873;
}

.footer {
    background-color: #32A873;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.footer p {
    margin: 0;
    color: #0B2F14;
    font-size: 22px;
}

.create-account {
    color: #32A873;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
}

#box-premium {
    border: 2px solid transparent; /* Borde transparente para que el efecto sea limpio */
    border-radius: 0.5rem; /* Ajusta el radio del borde */
    padding: 1.5rem; /* Espaciado interno */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave para el box-shadow */
}

#box-premium:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);/* Escala para un efecto adicional */
    animation-fill-mode: forwards;
}


/* Desktop Styles */
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 36px;
    }

    .login-container {
        margin-inline: auto;
    }

    .login-container h2 {
        font-size: 64px;
    }

    .form-control {
        font-size: 24px;
        /* Aumenta el tamaño del input en desktop */
        padding: 15px;
    }

    .btn-login {
        font-size: 24px;
        /* Aumenta el tamaño del botón en desktop */
        padding: 15px;
        width: 400px;
    }

    .footer p {
        font-size: 24px;
        /* Aumenta el tamaño del texto en el footer para desktop */
    }
}

/* Cambia el color del texto del placeholder */
::placeholder {
    color: #C0E1C8;
    opacity: 1;
    /* Asegura que el color se aplique correctamente */
}

input.is-invalid::placeholder {
    color: #EE5454;
    opacity: 1;
}

#restructuration-space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-plan-title {
    font-size: 150%;
    font-weight: bold;
}

#box-premium {
    width: 75%;
    background: linear-gradient(to bottom,
            var(--dark-pine) 12%,
            var(--bluelsh-pine) 35%,
            var(--light-green) 55%);

    .p-p {
        font-size: 190%;
    }

    li {
        color: var(--dark-pine);
    }

    #benefit-1{
        display: flex;
        align-items: center;
    }
    #benefit-2 {

        font-size: 140%;
        font-weight: normal;
    }

    #benefit-3 {
        font-size: 120%;
    }

    #benefit-4 {
        font-size: 150%;
    }

    hr {
        border: 0;
        border-top: 1.5px solid var(--light-mint);
    }

    p {
        color: var(--dark-pine);
    }

    #amount {
        font-size: 250%;
        color: var(--light-mint);
    }

    ul {
        list-style-type: disc;
    }
}

#box-basic {

    width: 75%;
    border: 1px solid var(--light-green);
    border-radius: 20px;
    color: var(--light-green);

    h2 {
        font-size: 300%;
    }

    #subtitle {
        font-size: 190%;
    }

    #benefit-1b {
        font-size: 140%;
    }

    #benefit-2b {
        font-size: 140%;
    }
}

#restructuration-space {
    margin-bottom: 2%;
}

@media (min-width: 1000px) {
    #restructuration-space {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 2%;
    }

    #box-basic {
        width: 40%;
        height: 100%;

        #plan-basic-title {
            font-size: 150%;
        }
        #subtitle{
            font-size: 300%;
            padding-bottom: 10%;
        }

        #benefit-1b {
            font-size: 300%;
        }

        #benefit-2b {
            font-size: 300%;
        }

        #benefit-3b {
            font-size: 200%;
        }
    }

    #box-premium {
        width: 40%;
        height: 100%;

        .p-p {
            font-size: 500%;
        }

        #crown {
            width: 4em;
            height: 4em;
        }

        #amount {
            font-size: 400%;
        }

        #title {
            font-size: 150%;
        }

        #benefit-1 {
            padding-left: 5%;
            font-size: 220%;
            align-items: start;

            #cake {
                width: 15%;
                height: 15%;
            }

            #bar {
                width: 15%;
                height: 15%;
            }

            #vs {
                width: 15%;
                height: 15%;
            }
        }

        #benefit-2 {
            font-size: 220%;
        }

        #benefit-3 {
            font-size: 220%;
        }

        #benefit-4 {
            font-size: 220%;
        }

    }
}