<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenny - Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/Styles/dashboard.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">
                <img src="/public/imgs/ZennyBannerMint 1.png" alt="Zenny" class="logo" />
            </a>
        </div>
    </nav>

    <!-- Dashboard -->
    <div class="dashboard-container text-center">
        <h2 id="today"></h2>
        <h1 id="usuario-nombre"></h1>

        <div class="balance-container">
            <h3>SALDO TOTAL:</h3>
            <p id="total-balance"></p>
        </div>

        <button id="graficos-btn" class="btn-disabled">Gráficos y Análisis</button>

        <!-- Movement filters -->
        <div class="movements-filters">
            <button id="revenue-filter" class="btn-filter">INGRESOS</button>
            <button id="all-filter" class="btn-filter">TODO</button>
            <button id="bills-filter" class="btn-filter">GASTOS</button>
        </div>

        <!-- Table of movements -->
        <div id="table-movements" class="movimientos-tabla mb-5">
            <!-- Dinamic rows -->
        </div>
    </div>

    <!-- Sticky buttons -->
    <div class="sticky-buttons">
        <button id="btn-agregar-gasto" class="btn-sticky-red">AGREGAR GASTO</button>
        <button id="btn-agregar-ingreso" class="btn-sticky-green">AGREGAR INGRESO</button>
    </div>


    <!-- Modal to edit a new expense -->
    <div class="modal fade" id="editExpenseModal" tabindex="-1" aria-labelledby="editExpenseModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editExpenseModalLabel">Editar Gasto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editExpenseForm">
                        <div class="mb-3">
                            <label for="edit-expense-category" class="form-label">Categoría</label>
                            <select class="form-select" id="edit-expense-category">
                                <option value="">Selecciona una</option>
                                <option value="Hogar">Hogar</option>
                                <option value="Salud">Salud</option>
                                <option value="Arriendo">Arriendo</option>
                                <option value="Facturas y Mensualidades">Facturas y Mensualidades</option>
                                <option value="Alimentación">Alimentación</option>
                                <option value="Transporte">Transporte</option>
                                <option value="Entretenimiento">Entretenimiento</option>
                                <option value="Ropa">Ropa</option>
                                <option value="Varios">Varios</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="edit-expense-value" class="form-label">Valor</label>
                            <input type="number" class="form-control" id="edit-expense-value">
                        </div>
                        <div class="mb-3">
                            <label for="edit-expense-date" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="edit-expense-date">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteExpenseButton">Eliminar</button>
                    <button type="button" class="btn btn-success" id="saveEditExpenseButton">guardar</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal for adding a new expense -->
    <div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="addExpenseModalLabel">Nuevo Gasto</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addExpenseForm">
                        <div class="mb-3">
                            <label for="expense-category" class="form-label">Categoría</label>
                            <select class="form-select" id="expense-category" required>
                                <option value="" disabled selected>Selecciona una</option>
                                <option value="Hogar">Hogar</option>
                                <option value="Salud">Salud</option>
                                <option value="Arriendo">Arriendo</option>
                                <option value="Facturas y Mensualidades">Facturas y Mensualidades</option>
                                <option value="Alimentación">Alimentación</option>
                                <option value="Transporte">Transporte</option>
                                <option value="Entretenimiento">Entretenimiento</option>
                                <option value="Ropa">Ropa</option>
                                <option value="Varios">Varios</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="expense-value" class="form-label">Valor</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="expense-value" placeholder="123,456.789"
                                    required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="expense-date" class="form-label">Fecha</label>
                            <div class="input-group">
                                <input type="date" class="form-control" id="expense-date" placeholder="DD/MM/YYYY"
                                    required>
                                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="saveExpenseButton">Agregar</button>
                </div>
            </div>
        </div>
    </div>


<!-- modal for editing an income -->
    <div class="modal fade" id="editIncomeModal" tabindex="-1" aria-labelledby="editIncomeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editIncomeModalLabel">Editar Ingreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editIncomeForm">
                    <div class="mb-3">
                    </div>
                    <div class="mb-3">
                        <label for="edit-income-value" class="form-label">Valor</label>
                        <input type="number" class="form-control" id="edit-income-value">
                    </div>
                    <div class="mb-3">
                        <label for="edit-income-date" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="edit-income-date">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteIncomeButton">Eliminar</button>
                <button type="button" class="btn btn-success" id="saveEditIncomeButton">guardar</button>
            </div>
        </div>
    </div>
    </div>

<!-- modal for adding a new income -->
    <div class="modal fade" id="addIncomeModal" tabindex="-2" aria-labelledby="addIncomeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="addExpenseModalLabel">Nuevo Ingreso</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addIncomeForm">
                        <!-- <div class="mb-3">
                            <label for="expense-category" class="form-label">Categoría</label>
                            <select class="form-select" id="expense-category" required>
                                <option value="" disabled selected>Selecciona una</option>
                                <option value="Hogar">Hogar</option>
                                <option value="Salud">Salud</option>
                                <option value="Arriendo">Arriendo</option>
                                <option value="Facturas y Mensualidades">Facturas y Mensualidades</option>
                                <option value="Alimentación">Alimentación</option>
                                <option value="Transporte">Transporte</option>
                                <option value="Entretenimiento">Entretenimiento</option>
                                <option value="Ropa">Ropa</option>
                                <option value="Varios">Varios</option>
                            </select>
                        </div> -->
                        <div class="mb-3">
                            <label for="income-value" class="form-label">Valor</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="income-value" placeholder="123,456.789"
                                    required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="income-date" class="form-label">Fecha</label>
                            <div class="input-group">
                                <input type="date" class="form-control" id="income-date" placeholder="DD/MM/YYYY"
                                    required>
                                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="saveIncomeButton">Agregar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/src/js/dashboard.js"></script>
</body>

</html>